{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">

			<div class="col-md-3">
				{% for c in categories %}
				<h3>{{ c.title }}</h3>
				{% endfor %}
			</div>

			<div class="col-md-9">
				<!-- Card deck -->

					<div class="card-deck">

						{% for item in items %}
						<div class="col-md-4 item">
						  <!-- Card -->
						  <div class="card mb-4 shadow item-card">
						    <!--Card image-->
						    <div class="view overlay zoom">
						      <img class="card-img-top" src="{{ item.image.url }}"
						        alt="Card image cap">
						      <a href="{{ item.get_absolute_url }}">
						        <div class="mask rgba-white-slight flex-center waves-effect waves-light">
						        	<p class="black-text lead" style="font-size: 1.8rem">Buy now</p>
						        </div>
						      </a>
						    </div>

						    <!--Card content-->
						    <div class="card-body">

						      <!--Title-->
						      <h4 class="card-title mb-0" style="word-break: break-all;">{{ item.title|truncatechars:30 }}</h4>
						      <!--Badges-->
						      <span class="badge badge-pill badge-warning my-3">{{ item.category.title }}</span>
						      {% if item.discount_price %}
						      	<span class="badge badge-pill badge-danger my-3">Sale</span>
						      {% endif %}
						      <!--Price-->
						      <h6 class="card-title">Price: {{ item.price }} <i class="fas fa-dollar-sign"></i>
								{% if item.discount_price %}
									<span class="red-text">(SALE - {{ item.get_discount_percent }}%)</span>
								{% endif %}
						      </h6>
						      
						      <!--Text-->
						      <p class="card-text text-justify" style="word-break: break-all;">{{ item.description|truncatechars:70 }}</p>
						      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
						      <a type="button" class="btn btn-outline-warning waves-effect btn-md ml-0" href="{{ item.get_absolute_url }}">About</a>
						      <a href="" class="d-flex justify-content-end amber-text"><i class="fas fa-cart-plus mr-2" aria-hidden="true"></i></a>
						    </div>
						  </div>
						  <!-- Card -->
					  </div>
					  {% endfor %}

					</div>

			</div>
							
		</div>
	</div>
{% endblock content %}