{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
	<div class="container">

	   <!-- Items -->
		<div class="row">

			<div class="col-md-3">
				<h3>Filters</h3>
			</div>

			<div class="col-md-9">

				<!-- <div class="list-group list-group-horizontal-sm d-flex justify-content-center ml-3 mb-5">
			     {% for c in categories %}
				  <li class="list-group-item list-group-item-warning">{{ c.title }}</li>
				  {% endfor %}
			   </div> -->

			   <!--Navbar-->
		      <nav class="navbar navbar-expand-lg navbar-dark orange lighten-2 ml-4 mt-1 mb-5 second-navbar">

		        <!-- Navbar brand -->
		        <span class="navbar-brand">Categories:</span>

		        <!-- Collapse button -->
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
		          aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>

		        <!-- Collapsible content -->
		        <div class="collapse navbar-collapse" id="basicExampleNav">

		          <!-- Links -->
		          <ul class="navbar-nav mr-auto">
		            <li class="nav-item active">
		              <a class="nav-link" href="#">All
		                <span class="sr-only">(current)</span>
		              </a>
		            </li>
		            {% for c in categories %}
		            {% if c.item_set.all %}
		            <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
			              {{ c.title }}
			              <b class="caret"></b>
			           	</a>
			           	<ul class="dropdown-menu">
			           		{% for item in c.item_set.all %}
						      <li class="mb-0"><a href="{{ item.get_absolute_url }}" class="dropdown-item" style="color: #45526e;"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i> {{ item.title }}</a></li>
						      {% endfor %}
						   </ul>
		            </li>
		            {% else %}
		            <li class="nav-item">
		              <a class="nav-link" href="#">{{ c.title }}</a>
		            </li>
		            {% endif %}
		            {% endfor %}
		          </ul>
		          <!-- Links -->
		        </div>
		        <!-- Collapsible content -->

		      </nav>
		      <!--/.Navbar-->

				<!-- Card deck -->

					<div class="card-deck">

						{% for item in items %}
						<div class="col-md-4 item">
						  <!-- Card -->
						  <div class="card mb-4 shadow item-card">
						    <!--Card image-->
						    <div class="view overlay zoom">
						      <img class="card-img-top" src="{{ item.image.url }}"
						        alt="Card image cap">
						      <a href="{{ item.get_absolute_url }}">
						        <div class="mask rgba-white-slight flex-center waves-effect waves-light">
						        	<p class="black-text lead" style="font-size: 1.8rem">Buy now</p>
						        </div>
						      </a>
						    </div>

						    <!--Card content-->
						    <div class="card-body">

						      <!--Title-->
						      <h4 class="card-title mb-0" style="word-break: break-all;">{{ item.title|truncatechars:30 }}</h4>
						      <!--Badges-->
						      <span class="badge badge-pill badge-warning my-3">{{ item.category.title }}</span>
						      {% if item.discount_price %}
						      	<span class="badge badge-pill badge-danger my-3">Sale</span>
						      {% endif %}
						      <!--Price-->
						      <h6 class="card-title">Price: {% if item.discount_price %}{{ item.discount_price }}{% else %}{{ item.price }}{% endif %} <i class="fas fa-dollar-sign"></i>
								{% if item.discount_price %}
									<span class="red-text">(SALE - {{ item.get_discount_percent }}%)</span>
								{% endif %}
						      </h6>
						      
						      <!--Text-->
						      <p class="card-text text-justify" style="word-break: break-all;">{{ item.description|truncatechars:70 }}</p>
						      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
						      <div class="d-flex justify-content-between align-items-center">
							      <a type="button" class="btn btn-outline-warning waves-effect btn-md ml-0" href="{{ item.get_absolute_url }}">About</a>
							      <div>
							      	{% if item in wish_items %}
								      <i class="fas fa-heart red-text mr-2"></i>
								      {% else %}								      
								      <i class="far fa-heart red-text mr-2"></i>
								      {% endif %}
								      <a href="{% url 'add-to-cart' item.slug %}" class="amber-text"><i class="fas fa-cart-plus mr-2" aria-hidden="true"></i></a>
							      </div>
						      </div>
						    </div>
						  </div>
						  <!-- Card -->
					  </div>
					  {% endfor %}

					</div>

			</div>
							
		</div>
	</div>
{% endblock content %}