<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand orange-text" href="/" target="_self">
        <strong>ECOMMERCE</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->

        <!-- Search form -->
        <!-- Search form -->
        <form action="{% url 'home-page' %}" class="form-inline active-pink-2 mr-auto">
          <div class="md-form my-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
            <i class="fas fa-search orange-text ml-1 align-middle" aria-hidden="true"></i>
          </div>
        </form>

          <ul class="navbar-nav ml-auto nav-flex-icons">

           {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link orange-text" href="{% url 'wish-list' %}">Favorites <i class="fas fa-heart orange-text"></i></a>
              </li>
             <li class="nav-item orange-text">
                  <a class="nav-link waves-effect waves-light orange-text" href="{% url 'cart-page' %}">
                    {% if items_in_cart > 0 %}
                    {{ items_in_cart }}
                    {% endif %}
                    <i class="fas fa-shopping-cart"></i> Cart
                  </a>
                </li>
              <li class="nav-item dropdown orange-text">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                 {{ user.username }} <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                  aria-labelledby="navbarDropdownMenuLink-333">
                  <a class="dropdown-item orange-text" href="#">Profile</a>
                  <a class="dropdown-item orange-text" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link orange-text" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> Log in/ Sign up</a>
              </li>
            {% endif %}
          </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->